#title1{
    margin: 10px 15px; 
    padding: 5px 0; 
    background: cyan; 
    border-radius: 15px;
}
#title1 h1{
    color: blue; 
    text-align: center; 
    font-family: sans-serif; 
    text-shadow: 2px 2px #555;
}
#content{
    margin: 10px 15px; 
    padding: 10px; 
    background: #ecfa91; 
    display:grid;
    grid-template-columns: repeat(12,1fr); 
    column-gap: 12px;
    border-radius: 15px
}
#sidebar{
    margin: 10px; 
    padding: 0 10px; 
    background: #90e07e; 
    grid-column: 1/span 3;
}
#sidebar ul{
    list-style-type: none; 
    padding: 10px
}
#sidebar li{
    margin: 10px 0; 
    background: green; 
    padding: 10px;
}
#isi{
    margin: 10px;
    padding: 10px; 
    background: #90e07e; 
    grid-column: 4/span9;
}
#isi img{
    display:block;
    margin: 0 auto; 
    width: 30%;
}
#isi p{
    color: #0b872c;
}
#footer{
    margin:10px 15px; 
    padding: 5px; 
    background: #e3b059; 
    border-radius: 15px;
}
#footer h3{
    color: b03f25; 
    text-align: center; 
    font-family: monospace;
}